* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

div	{
	padding: 20px;	
}

.grandparent {
	background-color: skyblue;
	position: fixed;
	top: 0;
	z-index: -1;
}

.parent {
	background-color: pink;
	position: relative;
}

strong {
	background-color: yellow;
	position: absolute;
	top: 0;
	left: 0;
}

#p {
	z-index: -2;
}

/*css positioning*/
/*static - no changes*/
/*relative - with respect in the orig position*/
/*absolute - with respect nearest relative */
